<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static "myFirstApp/myStyle.css" %}" />
  </head>
  <body>
   {% include './base.html' %}
   <br><br>
   <br><br>
   <br><br>

<div style= "text-align: center;" >
<form>
   <label> <b> Username </b> </label>
   <input type= "text" required = "true" minlength = 5  maxlength = 10 ></input>
   <br>
   <label> <b> Password </b> </label>
   <input type = "password" required = "true" min=5 max=10></input>
   <br>
   <br>
  <button> LOGIN </button>
  <br>
  <br>
  <a href="{% url 'forgot' %}"> Forgot Password ? </a>
  <br>
  <br>
  <a href="{% url 'register' %}"> New User - Register Here </a>
   </div>
</form>
<footer style="font-family: cursive;">
  <br><br>
  <br><br>
  <br><br>
  <br>
  <br>
  <a href="{% url 'contact' %}"> Contact Us </a>
</footer>
  </body>
</html>
