<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static "myFirstApp/myStyle.css" %}" />
  </head>
  <body>
   {% include './base.html' %}
   <br><br>
   <br><br>
   <br><br>
   <div style= "text-align: center;" >
    <form style="align-items: center;">
       <label> <b> First Name </b> </label>
       <input type= "text" required = "true" minlength = 5  maxlength = 10 ></input>
       <br>
       <br>
       <label> <b> Last Name </b> </label>
       <input type= "text" required = "true" minlength = 5  maxlength = 10 ></input>
       <br><br>
       <label> <b> Username </b> </label>
       <input type= "text" required = "true" minlength = 5  maxlength = 10 ></input>
       <br><br>
       <label> <b> Password </b> </label>
       <input type="password" required = "true" minlength = 5  maxlength = 10 ></input>
       <br><br>
       <label> <b> Age </b> </label>
       <input type="number"></input>
       <br><br>
       <label> <b> Aadhar No. </b> </label>
       <input  required = "true" pattern= [0-9]{1,4}></input>
       <input  required = "true" pattern= [0-9]{1,4}></input>
       <input  required = "true" pattern= [0-9]{1,4}></input>
  <br><br><br>
      <button> REGISTER </button>
    </form>
  </body>
</html>